body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    padding: 8vw;
    margin: 0;
    border-bottom-left-radius: 5px;
    position: relative;
    background-color: hsl(222, 86.7%, 97.1%);
}

@media only screen and (min-width: 1440px) {
    body {
        padding: 25vw;
        background-color: hsl(0, 0%, 100%);
    }
}